<footer>
		<div class="container-fluid">
			
			<div class="row"  style="padding-top: 50px;">
				
				
				<div class="col-xs-10 col-xs-offset-1">
					<hr>
				</div>
				
				<div class="col-xs-10 col-xs-offset-2">
					<p>Connect Us:</p>
					<div class="nav navbar-nav" >
                        <a class="btn btn-social-icon btn-google-plus" href="https://plus.google.com/u/0/108957068994428220120"><i class="fa fa-google-plus"></i></a>
                        <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/deepanshu.gupta.50767"><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/deepanshu-gupta-480536bb"><i class="fa fa-linkedin"></i></a>
                        <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/deepu_0009"><i class="fa fa-twitter" ></i></a>
                        <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                    </div>
				</div>
				<div class="col-xs-10 col-xs-offset-1">
					<hr>
				</div>
				
				<div class="col-xs-12">
					
                    <center>
                      <p>Copyright &copy; PUBLICATION 2016</p>
                    </center>
                </div>
				
			</div>
		</div>
</footer>