	
	<header>
		
		<div class="container-fluid">
		
			<div class="row" id = "headerbar">
				<div class="col-sm-offset-1 nav-heading" ><h1><a ui-sref="app">Publication Portal</a></h1></div>
				
			</div>
		
			<div class="row">
				<nav class="navbar navbar-default" role="navigation">
					<div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
                          <div class="navbar-header">
						  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
						    aria-expanded="false" aria-controls="navbar" data-target="#navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						  </button>
						  <a class="navbar-brand visible-xs-inline-block" ui-sref="app">Home</a>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse " id="navbar">
							<ul class="nav navbar-nav ">
								<li><a ui-sref="app">Home</a></li>
								<li><a ui-sref="app.contactus">Contact Us</a></li>
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li>
									<a ui-sref="app.login">Login</a>
								</li>
								<li>
									<a ui-sref="app.signup">Sign Up</a>

								</li>
							</ul>
						</div><!-- /.navbar-collapse -->
					</div>

				</nav>
			</div>
		</div>
	
	</header>