
	<div class="container-fluid" >
		<div class="row">	
		
		
			<div class=" col-sm-offset-2 col-sm-9 col-xs-12" style="min-height:400px; ">
				<legend><center><h1><strong>Manuscripts Received</strong></h1></center></legend>
				
				<div ng-repeat ="request in requests">
					<div class="row">
						<div class="col-xs-12" style="min-height:50px;">
							<h3>{{ request.manTitle}}</h3>
							<p><strong>Abstract:</strong>{{ request.manAbstract}}</p>
						</div>
						
					</div>
					
					<div class="row" >
						
						<div class=" col-xs-3" style="margin-top:10px; margin-left:20px;" >
							<div class="row"><strong><h4>{{ request.name}}</h4></strong></div>
							
						</div>
						<div class="col-xs-offset-6 col-xs-2" style="margin-top:10px;">
							<div class="row">
								<a class="btn btn-md btn-primary btn-send" 
								ng-click = "reviewApplication(request._id)">Application</a>
								&nbsp;<a class="btn btn-sm btn-send">Review </a></td>
							</div>
							
						</div>
					</div>
					<hr>
				</div>
				
				
				
				
				
			</div>
		
		
		
		</div>
	</div>	
	