{{ isAuthenticated() }}	
		
	<div class="container" style="padding-top: 60px;" ng-show="isAuthenticate"> 
		<legend><center><h1 >Edit Profile</h1></center></legend>
		<h3 ><center>Publisher Account</center></h3>
			<div class="row">
				<!-- left column -->
				
				<!-- edit form column -->
				<div class="col-md-8 col-sm-6 col-sm-offset-2 col-xs-12">
					<div class="alert alert-info alert-dismissable">
						<a class="panel-close close" data-dismiss="alert">×</a> 
						<i class="fa fa-coffee"></i>
						Please Enter the <strong>valid</strong> details.
					</div>
					<h3>Personal info</h3>
					<form class="form-horizontal" role="form">
						<div class="form-group">
						  <label class="col-lg-3 control-label">First name:</label>
						  <div class="col-lg-8">
							<input class="form-control" value="username" type="text" autofocus>
						  </div>
						</div>
						<div class="form-group">
						  <label class="col-lg-3 control-label">Last name:</label>
						  <div class="col-lg-8">
							<input class="form-control" value="username" type="text">
						  </div>
						</div>
						
						<div class="form-group">
						  <label class="col-lg-3 control-label">Email:</label>
						  <div class="col-lg-8">
							<input class="form-control" value="useremail@gmail.com" type="text">
						  </div>
						</div>
						<div class="form-group">
							<label for="aboutcompany" class="col-lg-3 control-label textarea-contact">About Company</label>
							<div class="col-lg-8">
								<textarea class="form-control" id="aboutcompany" name="aboutcompany" rows="5" required
								placeholder="Minimum 50 words"></textarea>
							</div>
						
						</div>

						<div class="form-group">
						  <label class="col-lg-3 control-label">Apply By:</label>
						  <div class="col-lg-8">
							<input class="form-control" placeholder="13 june" type="text">
						  </div>
						</div>
					
						<div class="form-group">
						  <label class="col-lg-3 control-label">Password:</label>
						  <div class="col-lg-8">
							<input class="form-control" value="11111122333" type="password">
						  </div>
						</div>
						<div class="form-group">
						  <label class="col-lg-3 control-label">Confirm password:</label>
						  <div class="col-lg-8">
							<input class="form-control" value="11111122333" type="password">
						  </div>
						</div>
						<div class="form-group">
						  
						  <div class="col-lg-4">
							<input class="btn btn-primary btn-send" value="Save Changes" type="button">
							
							
						  </div>
						  
						</div>
					</form>
				</div>
			</div>
	</div>
	