
	<div class="container-fluid">
		<div class="row">	
		
		
			<div class=" col-sm-offset-2 col-sm-9 col-xs-12" style="min-height:400px; ">
				<legend><center><h1><strong>Manuscripts Received</strong></h1></center></legend>
				
				<div>
					<div class="row">
						<div class="col-xs-12" style="min-height:50px;">
							<h3>Smart Computing and implementation of Algorithms</h3>
							<p><strong>Abstract:</strong>This work implemented various algorithms.This work implemented various algorithms.This work implemented various algorithms.
							This work implemented various algorithms.This work implemented various algorithms.
							This work implemented various algorithms.This work implemented various algorithms.This work implemented various algorithms.
							This work implemented various algorithms.This work implemented various algorithms.</p>
						</div>
						
					</div>
					<div class="row">
						<div class="col-xs-12"><strong>Authors:</strong></div>
						<div class="col-xs-12"><ul>
						<li>Prachi Garg</li>
						<li>Deepanshu Gupta</li>
						<li>Sarthak Rohilla</li>
						</ul>
						</div>
					
					</div>
					<div class="row">
						
						<div class=" col-xs-3" style="margin-top:10px; margin-left:20px;">
							<div class="row">Status</div>
							
						</div>
						<div class="col-xs-offset-6 col-xs-2" style="margin-top:10px;">
							<div class="row">
								<a class="btn btn-md btn-primary btn-send" href ="#">Review</a>
							</div>
							
						</div>
					</div>
					<hr>
				</div>
				<div>
					<div class="row">
						<div class="col-xs-12" style="min-height:50px;">
							<h3>Smart Computing and implementation of Algorithms</h3>
							<p><strong>Abstract:</strong>This work implemented various algorithms.This work implemented various algorithms.This work implemented various algorithms.
							This work implemented various algorithms.This work implemented various algorithms.
							This work implemented various algorithms.This work implemented various algorithms.This work implemented various algorithms.
							This work implemented various algorithms.This work implemented various algorithms.</p>
						</div>
						
					</div>
					<div class="row">
						<div class="col-xs-12"><strong>Authors:</strong></div>
						<div class="col-xs-12"><ul>
						<li>Prachi Garg</li>
						<li>Deepanshu Gupta</li>
						<li>Sarthak Rohilla</li>
						</ul>
						</div>
					
					</div>
					<div class="row">
						
						<div class=" col-xs-3" style="margin-top:10px; margin-left:20px;">
							<div class="row">Status</div>
							
						</div>
						<div class="col-xs-offset-6 col-xs-2" style="margin-top:10px;">
							<div class="row">
								<a class="btn btn-md btn-primary btn-send" href ="#">Review</a>
							</div>
							
						</div>
					</div>
					<hr>
				</div>
				<div>
					<div class="row">
						<div class="col-xs-12" style="min-height:50px;">
							<h3>Smart Computing and implementation of Algorithms</h3>
							<p><strong>Abstract:</strong>This work implemented various algorithms.This work implemented various algorithms.This work implemented various algorithms.
							This work implemented various algorithms.This work implemented various algorithms.
							This work implemented various algorithms.This work implemented various algorithms.This work implemented various algorithms.
							This work implemented various algorithms.This work implemented various algorithms.</p>
						</div>
						
					</div>
					<div class="row">
						<div class="col-xs-12"><strong>Authors:</strong></div>
						<div class="col-xs-12"><ul>
						<li>Prachi Garg</li>
						<li>Deepanshu Gupta</li>
						<li>Sarthak Rohilla</li>
						</ul>
						</div>
					
					</div>
					<div class="row">
						
						<div class=" col-xs-3" style="margin-top:10px; margin-left:20px;">
							<div class="row">Status</div>
							
						</div>
						<div class="col-xs-offset-6 col-xs-2" style="margin-top:10px;">
							<div class="row">
								<a class="btn btn-md btn-primary btn-send" href ="#">Review</a>
							</div>
							
						</div>
					</div>
					<hr>
				</div>
				
				
				
				
			</div>
		
		
		
		</div>
	</div>	
	