{{ isAuthenticated() }}	
		
	<div class="container" style="padding-top: 60px;" > 
		<legend><center><h1 >Edit Profile</h1></center></legend>
		<h3 ><center>Publisher Account</center></h3>
			<div class="row">
				<!-- left column -->
				
				<!-- edit form column -->
				<div class="col-md-8 col-sm-6 col-sm-offset-2 col-xs-12">
					<div class="alert alert-info alert-dismissable">
						<a class="panel-close close" data-dismiss="alert">×</a> 
						<i class="fa fa-coffee"></i>
						Please Enter the <strong>valid</strong> details.
					</div>
					<h3>Personal info</h3>
					<form class="form-horizontal" role="form">
						<div class="form-group">
						  <label class="col-lg-3 control-label">Company Name:</label>
						  <div class="col-lg-8">
							<input class="form-control" type="text" autofocus ng-model="pubDetails.pubTitle">
						  </div>
						</div>
						<div class="form-group">
						  <label class="col-lg-3 control-label">First name:</label>
						  <div class="col-lg-8">
							<input class="form-control" type="text" ng-model="pubDetails.firstName">
						  </div>
						</div>
						<div class="form-group">
						  <label class="col-lg-3 control-label">Last name:</label>
						  <div class="col-lg-8">
							<input class="form-control" type="text" ng-model="pubDetails.lastName">
						  </div>
						</div>
						
						<div class="form-group">
						  <label class="col-lg-3 control-label">Email:</label>
						  <div class="col-lg-8">
							<input class="form-control" value="{{pubDetails.userEmail}}" type="text" ng-model="pubDetails.userEmail" disabled>
						  </div>
						</div>
						<div class="form-group">
							<label for="aboutcompany" class="col-lg-3 control-label textarea-contact">About Company</label>
							<div class="col-lg-8">
								<textarea class="form-control" id="aboutcompany" name="aboutcompany" rows="5" 
								placeholder="Minimum 50 words" ng-model="pubDetails.pubAbout" required></textarea>
							</div>
						
						</div>

						<div class="form-group">
						  <label class="col-lg-3 control-label">Apply By:</label>
						  <div class="col-lg-8">
							<input class="form-control" placeholder="13 june" type="text" ng-model="pubDetails.pubApplyBy" required>
						  </div>
						</div>
					
						<div class="form-group">
							<label for="aboutcompany" class="col-lg-3 control-label textarea-contact">Categories </label>
							<div class="col-lg-8">
								<textarea class="form-control" id="aboutcompany" name="aboutcompany" rows="3" 
								placeholder="Enter comma seprated categories you deal in" ng-model="pubDetails.categories" 
								required></textarea>
							</div>
						
						</div>

						<div class="form-group">
							<label for="aboutcompany" class="col-lg-3 control-label textarea-contact">Sub categories</label>
							<div class="col-lg-8">
								<textarea class="form-control" id="aboutcompany" name="aboutcompany" rows="3" 
								placeholder="Enter comma seprated categories you deal in" ng-model="pubDetails.subCategories"
								 required></textarea>
							</div>
						
						</div>

						<div class="form-group">
						  
						  <div class="col-lg-4">
							<a class="btn btn-primary btn-send" type="button" ng-click="saveChanges()">Save Changes</a>&nbsp;
							<a class="btn btn-primary btn-send" type="button" ng-click="cancel()">Cancel</a>
						  </div>
						  
						</div>
					</form>
				</div>
			</div>
	</div>
	