
	{{ isAuthenticated() }}	
	<div class="container-fluid" ng-show="isAuthenticate">
		<div class="row">
			<div class="col-sm-3 " style="margin-top:20px; ">
				
				<form role="form">
					<label for="select_category">Category</label>
					
					<div id="categoryOptions">
                        <select data-placeholder="Choose category" id="select_category" ng-model="select_category"
							name="select_category" class="chosen-select form-control" tabindex="1">
							<option value="{{category}}" ng-repeat ="category in categories">{{category}} </option>
							
						</select>
					</div>
					<label for="select_subcategory"style="margin-top:20px;"> Sub Category</label>
					<div id="subcategoryOptions" >
                        <select data-placeholder="Choose category" id="select_subcategory" ng-model="select_subcategory"
							name="select_subcategory" class="chosen-select form-control" tabindex="1">
							<option value="{{category}}" ng-repeat ="category in categories">{{category}} </option>
							
						</select>
					</div>
					
					<label for="select_country"style="margin-top:20px;"> Area</label>
					<div id="countryoptions" style="margin-bottom:20px; ">
                        <select data-placeholder="Country" id="select_country" ng-model="select_country"
							name="select_country" class="chosen-select form-control" tabindex="1">
							<option value="{{category}}" ng-repeat ="category in categories">{{category}} </option>
						</select>
					</div>
					<a class="btn btn-md btn-primary btn-send" href ="#">Apply</a>
					<hr>
				</form>
				<h2>{{select_category}}</h2>
				<h2>{{select_subcategory}}</h2>
				<h2>{{select_country}}</h2>
			</div>
			
			
			<div class=" col-sm-offset-1 col-sm-7 " style="min-height:400px; ">
				<h1><strong>Our Publishers</strong></h1>
				<hr>
				<div ng-repeat = 'disPublisher in pubToBeDisplay'>
					<div class="row">
						<div class="col-xs-12" style="min-height:50px;">
							<h3>{{ disPublisher.pubTitle}}</h3>
							<p>{{ disPublisher.pubAbout}}</p>
						</div>
						
					</div>
					<div class="row">
						
						<div class=" col-xs-3" style="margin-top:10px; margin-left:20px;">
							<div class="row">Apply By</div>
							<div class="row">{{ disPublisher.pubApplyBy}}</div>
						</div>
						<div class="col-xs-offset-6 col-xs-2" style="margin-top:10px;">
							<div class="row">
								<a class="btn btn-md btn-primary btn-send" 
								ng-click="applyToPub(disPublisher.userEmail, disPublisher.pubTitle)">Apply</a>
							</div>
							
						</div>
					</div>
					<hr>
				</div>
				
				
				
				
				
			</div>
		</div>
	</div>

